DATABASE_URL="postgresql://postgres:password@db.project.supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:password@db.project.supabase.co:5432/postgres"
JWT_SECRET="generate-64-char-random-string"
JWT_REFRESH_SECRET="generate-different-64-char-random-string"
RESEND_API_KEY="re_your_api_key"
EMAIL_FROM="noreply@yourdomain.com"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
